<div class="page-container">
    <h1 class="col-md-12">Employee Churn</h1>
</div>

<form>
  <div class="loader" ng-if="isLoading"></div>
  <div class="form-row">
    <div class="form-group col-md-12">

    <div ng-repeat="field in formFields" class="col-md-12">
    	<label style="margin-bottom:12px; margin-top:5px;">{{field.placeholder}} </label>

        <select class="form-control" ng-if="field.type == 'dropdown'" ng-model="model[field.name]" ng-options="x for x in field.options">
        </select>


    	<input ng-if="field.type !== 'dropdown'" type="{{field.type}}" class="form-control" ng-model="model[field.name]" placeholder="{{field.placeholder}}">
    </div>	

    </div>
      <button type="submit" class="btn btn-lg btn-primary col-md-offset-11" ng-click="formSubmit()">Calculate</button>
  </div>
</form>